@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes sunrise {
  from {
    transform: translate(-50%, 300px);
  }
  to {
    transform: translate(-50%, 0px);
  }
}

.animateSunrise {
  animation: sunrise 10s ease-out forwards;
} */
